@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 70%;
    height: 80%;
    background-color: #fffafa;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: white;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

section {
    background-color: white;
    height: calc(85% - 40px);
    width: 100%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

footer {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

footer p,
footer .icon-button {
    margin-left: auto;
}

.icon-button {
    background-color: #E5E5E5;
    width: 40px;
    border: 1px solid black;
    cursor: pointer;
    font-size: medium;
}

.icon-button i {
    font-size: small;
}

.input,
.search,
.log-header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    gap: 10%;

}

.log-container {
    width: 100%;
    height: 100%;
    background-color: #333333;
    overflow-y: auto;
}

.search-button {
    height: 1.6em;
    padding-inline: 10px;
    background-color: #2C5364;
    border: 1px solid black;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    color: #fff;
}

.images {
    width: 100%;
    height: 80%;
}

.display-selector {
    display: none;
}

.border-top {
    border-top: solid 1px black;
}

.border-bottom {
    border-bottom: solid 1px black;
}

.arrow-left,
.arrow-right {
    transition: all 600ms ease-in-out;
    background: linear-gradient(to right, transparent 0%, black 200%);
    opacity: 1;
    cursor: pointer;
}

.images-carroussel-arrow i {
    font-size: x-large;
    color: #E5E5E5;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 0.5;
}

select,
input[type=number] {
    background-color: #E5E5E5;
    margin-left: 5px;
    border: solid 1px black;
    height: 1.6em;
    width: 10em;
}

.images-carroussel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-carroussel-arrow {
    width: 5%;
    height: 100%;
    background-color: #333333;
}

.images-carroussel-galery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #333333;
    overflow: hidden;
    overflow-x: scroll;
}

.item {
    width: auto;
    height: 100%;
    opacity: 0.5;
}

.current-item {
    opacity: 1;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.disabled {
    cursor: default;
    background-color: #E5E5E5;
}

.search .disabled {
    color: #999;
    font-weight: normal;
}

.justify-center {
    justify-content: center;
}

.log-table {
    width: 100%;
    height: auto;
    color: white;
    font-weight: normal;
}

.log-table,
.log-table-header th,
.log-table-row td {
    padding: 5px;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

.log-table-header th {
    background-color: #555;
}

.empty-log {
    padding: 30px;
    color: white;
    text-align: center;
}